{% extends 'base.html.twig' %}

{% block title %}Agence Catherine Nabokov – Mentions légales
{% endblock %}

{% block stylesheets %}
	
{% endblock %}

{% block body %}
<main class="bg-white">
	<div class="row">
		<div class="col top">
			{# ENVOI DE MANUSCRITS - TITRE #}
			<div class="bookshelf large mb-m">
				<div class="bookshelf__top justify-between">
					<div class="books ml-xs">
						<div class="book small fall right bg-gold"></div>
						<div class="book bg-blue"></div>
					</div>
					<div class="books ml-xs">
                        <div class="book bg-blue"></div>
						<div class="book bg-grey"></div>
						<div class="book bg-grey small"></div>
					</div>
					<h2 class="title color-blue">mentions légales</h2>
				</div>
				<div class="bookshelf__bottom bg-blue"></div>
			</div>

			{# ENVOI DE MANUSCRITS - TEXTE #}

                <p class="center">Conformément à la Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, nous communiquons aux utilisateurs du site <a target="_blank" href="http://agencenabokov.com">agencenabokov.com</a> l'identité de ses créatrices, de sa conception à sa maintenance.</p>

                <p class="center mt-xs"><span class="h5">Responsable de publication –</span> <b>Catherine Nabokov</b>, créatrice de l'agence Nabokov.</p>

                <p class="center mt-xs"><span class="h5">Hébergeur –</span> Le site <a target="_blank" href="http://agencenabokov.com">agencenabokov.com</a> est hébergé par <i>SAS OVH</i> situé au <i>2 rue Kellermann, 59100 Roubaix</i>.</p>

                <p class="center mt-xs"><span class="h5">Données personnelles –</span> D’une façon générale, vous avez la possibilité de visiter notre site sans avoir à décliner votre identité et sans fournir d’informations personnelles. Conformément à la loi «&nbsp;Informatique et Libertés&nbsp;», vous pouvez exercer votre droit d’accès aux données vous concernant et les faire rectifier en nous contactant par mail&nbsp;: <a href="mailto:contact@agencenabokov.com">contact@agencenabokov.com</a>.</p>
		</div>

		<div class="col right">
			 <div class="bookshelf small mt-m mb-s order-2">
				<div class="bookshelf__top center">
					<div class="books ml-xs">
						<div class="book bg-white"></div>
						<div class="book bg-white"></div>
						<div class="book bg-blue"></div>
					</div>

					<div class="books ml-xs">
						<div class="book small bg-blue"></div>
						<div class="book small bg-grey"></div>
						<div class="book bg-grey"></div>
						<div class="book bg-white"></div>
					</div>							
				</div>

				<div class="bookshelf__bottom bg-blue"></div>
			</div>

			{# ENVOI DE MANUSCRITS - TEXTE #}
            <p class="center mt-xs"><span class="h5">Identité graphique et création du site –</span> L'identité graphique de l'agence Nabokov a été réalisée par <b>Maud Grelier</b>. Le site a été réalisé d'après celle-ci puis développé par <a target="_blank" href="http://ceciliahaentjens.fr">Cécilia Haentjens</a>.</p>

			<p class="center mt-xs"><span class="h5">TYPOGRAPHIES –</span> L'identité visuelle et le site internet utilisent les typographies <a target="_blank" href="https://www.linotype.com/fr/5639854/walbaum-famille.html">Walbaum</a> et <a target="_blank" href="https://fonts.google.com/?query=Inria">Inria</a>.</p>

		</div>
	</div>
</main>
{% endblock %}
