@font-face {
    font-family: 'Inria';
    src: url('../../../public/medias/fonts/InriaSans-Light.ttf');
}

@font-face {
    font-family: 'Inria Bold';
    src: url('../../../public/medias/fonts/InriaSans-Regular.ttf');
}

@font-face {
    font-family: 'Inria Italic';
    src: url('../../../public/medias/fonts/InriaSans-LightItalic.ttf');
}

@font-face {
    font-family: 'Inria BoldItalic';
    src: url('../../../public/medias/fonts/InriaSans-Italic.ttf');
}

@font-face {
    font-family: 'Walbaum';
    src: url('../../../public/medias/fonts/Walbaum.ttf');
}
